{{ define "main" }}

{{ partial "components/hero.html" (dict
  "page" .
  "image" .Params.hero_image
  "title" (.Params.hero_title | default .Title)
  "text" .Params.hero_text
) }}

{{ partial "components/prose.html" (dict
  "background" "c-band--purple"
  "title" "Support us"
  "intro" .Params.support_text
) }}

{{ partial "components/people-grid.html" (dict
  "background" "c-band--green"
  "title" (.Params.partners_title | default "Our Partners")
  "intro" .Params.partners_intro
  "people" .Params.partners
) }}

{{ end }}
